# Thanks, Apple
.DS_Store
# Ignore config folder
config
# Ignore all logfiles and tempfiles.
log/*
tmp/*
!/log/.keep
!/tmp/.keep
/node_modules
npm-debug.log
.DS_Store
/*.env
**/yarn-error.log
sendgrid.env
